{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <title>{% block title %}My Site{% endblock %}</title>
  <style type="text/css">
    .asteriskField {
      display: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs my-4">
      <li class="nav-item">
        <a class="nav-link{% if request.path == '/form/1/' %} active{% endif %}" href="{% url 'form_1' %}">Plain HTML Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if request.path == '/form/2/' %} active{% endif %}" href="{% url 'form_2' %}">Basic Crispy Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if request.path == '/form/3/' %} active{% endif %}" href="{% url 'form_3' %}">Formatted Crispy Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if request.path == '/form/4/' %} active{% endif %}" href="{% url 'form_4' %}">Crispy Form Layouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if request.path == '/form/5/' %} active{% endif %}" href="{% url 'form_5' %}">Custom Form Field</a>
      </li>
    </ul>
  </div>
  <div class="container mb-4">
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static 'js/jquery.min.js' %}" ></script>  
    
  <!-- Required by Bootstrap v4.1.1 -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/eldarion-ajax.min.js' %}"></script>
  <script src="{% static 'js/csrf.js' %}"></script>
</body>
</html>
